*{
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0px;
    background-color: pink;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(90deg, pink, red, violet);
    background-color: transparent;
}

.name{
    padding-left: 5%;
    font-size: 0.5rem;
}

.menu{
    padding: 0 1rem;
}

.menu-list{
    display: flex;
    list-style: none;
}

.menu-list-items{
    padding: 0.5rem 0.3rem;
    font-size: 0.5rem;
}

.links{
    text-decoration: none;
}